.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#content{
	border: 1px solid #eee;
	margin-top: 30px;
	border-radius: 4px;
	background: white;
	box-shadow: 0px 0px 5px #ccc;
	padding: 0px;
	overflow: hidden;
}

.activado{
	text-decoration: none !important;
	background: #E03137 !important;
	border-bottom: 2px solid yellow !important;
}

#header{
	background: #E03137;
	color: white;
	margin: 0px;
	height: 90px;
	line-height: 90px;
}

#header h1{
	display: block;
	line-height: 50px;
	font-weight: bold;
	font-size: 30px;
}

#nv{
	padding: 0px;
	margin: 0px;
	background: rgb(224,49,55,0.67);
}

#nv ul{
	list-style:none;
	margin: 0px;
}
#nv ul li{
	margin-right:20px;
	float: left;
}

#nv ul li a{
	color: white;
	display: block;
	height: 30px;
	line-height: 29px;
	transition: all 300ms;
}

#nv ul li a:hover{
	text-decoration: none;
	background: #E03137;
}

footer{
	margin-top:30px;
	padding-top: 10px;
	color: gray;
	border-top: 1px solid #eee;

}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px; 
	margin-left: 30px;
	border-radius: 20px;
	background: #ccc;
}

#form-producto label{
	margin-top: 10px;
}

.producto_imagen{
	height:200px;
	margin: 0px auto;
	display:block;
	max-width: 100%;
}

.imagen_container{
	width:100%;
	overflow: hidden;
}

.img-relleno{
	background: #ccc;
	width: 100%;
	height: 200px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:30px 10px;
    margin:20px 0px;
}
.text{
    margin:10px 0px;
}

.fa{
     color:#4183D7;
}

.float-label-control { position: relative; margin-bottom: 1.5em; }
    .float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
    .float-label-control input:focus,
    .float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }

.label-danger{
	font-size: 0.6em;
	color:  red;
}